[Unit]
Description=Banking App FastAPI Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/banking_app/banking_app
EnvironmentFile=/opt/banking_app/banking_app/.env
ExecStart=/opt/banking_app/banking_app/.venv/bin/uvicorn main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
